<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Upload Commission</h1>
    <form method="POST" action="commissions/upload" enctype="multipart/form-data">
        <div><input type="file" name="references" multiple></div>
        <!-- <div><input type="text" name="name"></div>
        <div><input type="email" name="email"></div>
        <div><input type="text" name="characterName"></div>
        <div><input type="number" name="numberOfCharacters"></div> -->
        <div><input type="submit"></div>
    </form>
</body>
</html>