<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Upload Image</h1>
    <form method="POST" action="images/upload" enctype="multipart/form-data">
        <div><input type="file" name="image"></div>
        <div><input type="text" name="title"></div>
        <div><input type="checkbox" name="featured" checked="true" ></div>
        <div><textarea name="description" rows="4" cols="50"></textarea></div>
        <div><input type="submit"></div>
    </form>
</body>
</html>